#Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto QN 2

Importing all the required modules

In [1]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors
import folium
from sklearn.cluster import KMeans 
from geopy.geocoders import Nominatim
import requests

Getting data from website

In [2]:
# Importing data from website
url = 'http://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
raw = pd.read_html(url, index_col=0, header=0)
raw

[                      Borough                                      Neighbourhood
 Postal Code
 M1A              Not assigned                                       Not assigned
 M2A              Not assigned                                       Not assigned
 M3A                North York                                          Parkwoods
 M4A                North York                                   Victoria Village
 M5A          Downtown Toronto                          Regent Park, Harbourfront
 ...                       ...                                                ...
 M5Z              Not assigned                                       Not assigned
 M6Z              Not assigned                                       Not assigned
 M7Z              Not assigned                                       Not assigned
 M8Z                 Etobicoke  Mimico NW, The Queensway West, South of Bloor,...
 M9Z              Not assigned                                       Not assigned

 [180 rows x 2 columns],
                                                                                 Canadian postal codes  ... Unnamed: 17
 NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E ...  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...  ...         NaN
 NL                                                                                                 NS  ...          YT
 A                                                                                                   B  ...           Y

 [3 rows x 17 columns],
    NS PE NB QC QC.1 QC.2 ON ON.1 ON.2 ON.3 ON.4 MB SK AB BC NU/NT YT
 NL
 A   B  C  E  G    H    J  K    L    M    N    P  R  S  T  V     X  Y]

Applying a filter to drop rows containing 'not assigned' values

In [3]:
# Cleaning up data
postal = raw[0].reset_index()

# Dropping rows neighbourhood not assigned
filt = postal['Neighbourhood'] == 'Not assigned'
postal.drop(index=postal[filt].index, inplace=True)
postal = postal.reset_index(drop=True)
postal.shape

(103, 3)

Sorting by postal code

In [ ]:
# Sorting by postal code
postal = postal.sort_values('Postal Code', ascending=True)
postal.reset_index(drop=True, inplace=True)
postal

    Postal Code      Borough                                      Neighbourhood
0           M1B  Scarborough                                     Malvern, Rouge
1           M1C  Scarborough             Rouge Hill, Port Union, Highland Creek
2           M1E  Scarborough                  Guildwood, Morningside, West Hill
3           M1G  Scarborough                                             Woburn
4           M1H  Scarborough                                          Cedarbrae
..          ...          ...                                                ...
98          M9N         York                                             Weston
99          M9P    Etobicoke                                          Westmount
100         M9R    Etobicoke  Kingsview Village, St. Phillips, Martin Grove ...
101         M9V    Etobicoke  South Steeles, Silverstone, Humbergate, Jamest...
102         M9W    Etobicoke                Northwest, West Humber - Clairville

[103 rows x 3 columns]

Importing geospatial data from CSV provided

In [ ]:
# Importing geospatial coordinates
coord = pd.read_csv('/content/Geospatial_Coordinates.csv')
coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Appending geospatial data to main dataframe

In [ ]:
# Appending the latitue and longtitude values
postal[['Latitude', 'Longitude']] = coord[['Latitude', 'Longitude']]
postal

    Postal Code      Borough  ...   Latitude  Longitude
0           M1B  Scarborough  ...  43.806686 -79.194353
1           M1C  Scarborough  ...  43.784535 -79.160497
2           M1E  Scarborough  ...  43.763573 -79.188711
3           M1G  Scarborough  ...  43.770992 -79.216917
4           M1H  Scarborough  ...  43.773136 -79.239476
..          ...          ...  ...        ...        ...
98          M9N         York  ...  43.706876 -79.518188
99          M9P    Etobicoke  ...  43.696319 -79.532242
100         M9R    Etobicoke  ...  43.688905 -79.554724
101         M9V    Etobicoke  ...  43.739416 -79.588437
102         M9W    Etobicoke  ...  43.706748 -79.594054

[103 rows x 5 columns]